* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

@font-face {
  font-family: "Post No Bills Colombo Medium";
  src: url("/fonts/post-no-bills-colombo.medium.ttf");
}

.augsejaisBaneris {
  position: absolute;
  left: -0.07%;
  right: 0.07%;
  top: 0%;
  bottom: 84.28%;

  background: #073590;
}
.virsraksts {
  position: absolute;
  left: 0%;
  right: 71.74%;
  top: 0%;
  bottom: 0%;
  width: 542.67px;

  font-family: Post No Bills Colombo Medium;
  font-style: normal;
  font-weight: 500;
  font-size: 96px;
  line-height: 20px;
  /* or 21% */

  display: flex;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01px;

  color: #ffffff;
}

#iziet {
  position: absolute;
  width: 152px;
  height: 50.63px;
  left: 89.1%;
  right: 2.99%;
  top: 35.4%;
  bottom: 34.78%;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-style: none;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;

  cursor: pointer;
}
.apaksejaisBaneris {
  position: absolute;
  left: 0%;
  right: 0%;
  top: 15.72%;
  bottom: 0%;

  background: rgba(186, 182, 182, 0.53);
}
.lidostas {
  position: absolute;
  left: 9.79%;
  right: 9.86%;
  top: 8.34%;
  bottom: 73.35%;

  background: #ffffff;
  border-radius: 10px;
}
.nosaukumi {
  position: absolute;
  left: 0%;
  right: 90.8%;
  top: 0.15%;
  bottom: 75.84%;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;
  /* or 75% */

  display: flex;
  margin-left: 20px;
  align-items: center;
  text-align: center;
  letter-spacing: -0.01px;
  text-transform: uppercase;

  color: #000000;
}
#pievienot {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 15.47%;
  right: 65.95%;
  top: 41.14%;
  bottom: 13.29%;

  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;

  cursor: pointer;
}
#labot {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 38.46%;
  right: 42.96%;
  top: 41.14%;
  bottom: 13.29%;

  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;

  cursor: pointer;
}
#dzest {
  position: absolute;
  width: 286.67px;
  height: 75.94px;
  left: 61.45%;
  right: 19.97%;
  top: 41.14%;
  bottom: 13.29%;

  background: #c4c4c4;
  border-radius: 10px;
  border-style: none;

  font-family: PT Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 18px;

  cursor: pointer;
}
.lidmasinas {
  position: absolute;
  left: 9.72%;
  right: 9.93%;
  top: 28.85%;
  bottom: 52.84%;

  background: #ffffff;
  border-radius: 10px;
}
.reisi {
  position: absolute;
  left: 9.93%;
  right: 9.72%;
  top: 49.36%;
  bottom: 32.33%;

  background: #ffffff;
  border-radius: 10px;
}
.statistika {
  position: absolute;
  left: 9.79%;
  right: 9.86%;
  top: 69.87%;
  bottom: 11.82%;

  background: #ffffff;
  border-radius: 10px;
}

#popUp {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

#form {
  position: absolute;
  left: 25.36%;
  right: 25.42%;
  top: 21.94%;
  bottom: 26.3%;
  width: 945px;
  height: 559px;
  background: #ffffff;
  border-radius: 10px;
  z-index: 1;
}

.miniAugsa {
  position: absolute;
  width: 945px;
  height: 77.89px;
  left: 0x;
  top: 0px;
  background: #073590;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#miniVirsraksts {
  position: absolute;
  left: 2.01%;
  right: 83.81%;
  top: 3.76%;
  bottom: 90.16%;
  width: 134px;
  height: 34px;
  top: 14px;
  left: 19px;
  font-family: Post No Bills Colombo;
  font-style: normal;
  font-size: 36px;
  display: flex;
  color: #ffffff;
}

.tLidostasNosaukums {
  position: absolute;
  width: 250px;
  height: 18px;
  left: 41px;
  top: 134px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  color: #000000;
}

.tSaīsinājums {
  position: absolute;
  width: 41px;
  height: 18px;
  left: 43px;
  top: 227px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  color: #000000;
}

.tAdrese {
  position: absolute;
  width: 41px;
  height: 18px;
  left: 43px;
  top: 326px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  font-size: 24px;
  display: flex;
  color: #000000;
}

#LidostasNosaukums {
  position: absolute;
  left: 3.49%;
  right: 3.07%;
  top: 28.98%;
  bottom: 63.86%;
  width: 883px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

#Saīsinājums {
  position: absolute;
  left: 3.49%;
  right: 3.07%;
  top: 46.33%;
  bottom: 46.51%;
  width: 883px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

#Adrese {
  position: absolute;
  left: 3.49%;
  right: 3.07%;
  top: 64.58%;
  bottom: 28.26%;
  width: 883px;
  height: 40px;
  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;
  outline: none;
  padding-left: 20px;
  padding-right: 20px;
}

#pievienotp {
  position: absolute;
  left: 80.63%;
  right: 3.07%;
  top: 82.83%;
  bottom: 8.59%;
  width: 154px;
  height: 48px;
  background: #f1c933;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}

#atcelt {
  position: absolute;
  left: 62.12%;
  right: 21.59%;
  top: 82.83%;
  bottom: 8.59%;
  width: 154px;
  height: 48px;
  background: #ababab;
  border-radius: 8px;
  outline: none;
  cursor: pointer;
  border: 1px solid transparent;
}
